@charset "EUC-KR";

#page-container, #wadizTopBanner, body > #root {
	transform-origin: 50% 0;
	transition-property: opacity,transform;
	transition-duration: 80ms;
	transition-timing-function: ease-out;
}
article, main, section {
	display: block;
}
.web-header {
	position: relative;
	position: -webkit-sticky;
	position: sticky;
	top: -48px;
	transition: top .25s;
	z-index: 99;
	width: 100%;
}
.MainWrapper_content__GZkTa {
	transition: padding-top .25s;
	padding-top: 0;
    margin-top:15px;
}
.RewardMainTab_container__geHTr {
	display: flex;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	justify-content: space-around;
	transition: top .25s;
	z-index: 1100;
	background-color: #fff;
}
.RewardMainTab_container__geHTr > li {
	flex-grow: 1;
	text-align: center;
}
.RewardMainTab_container__geHTr .RewardMainTab_link___1r2a {
	display: block;
	height: 48px;
	line-height: 48px;
	font-size: 15px;
}
a, a:active, a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}
.RewardMainTab_container__geHTr .RewardMainTab_link___1r2a.RewardMainTab_active__1zRir > span::after {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #1d2129;
	width: 100%;
	height: 3px;
	content: "";
}
.RewardMainTab_container__geHTr .RewardMainTab_link___1r2a.RewardMainTab_active__1zRir > span {
	color: #1d2129;
	font-weight: 700;
}
.RewardMainTab_container__geHTr .RewardMainTab_link___1r2a span {
	display: inline-block;
	position: relative;
	height: 100%;
	color: #60656a;
}
.RewardMainCategory_container__19OYY {
	display: block;
	position: relative;
	z-index: 99999;
	margin-top: -49px;
	background: #fff;
}
.RewardMainWrapper_container__2HR7Y {
	position: relative;
	margin-bottom: 80px;
}
.RewardMainProjectList_listApp__2noRS {
	margin-top: 0;
}
.RewardProjectListApp_container__1ZYeD {
	position: relative;
	margin: 40px auto;
	max-width: 1032px;
	box-sizing: content-box;
}
.ProjectListHead_container__rpQ37 .ProjectListHead_search__HN3am {
	position: relative;
	border-right: 1px solid rgba(0,0,0,.1);
	width: 100%;
}
.ProjectListHead_container__rpQ37 .ProjectListHead_search__HN3am label {
	display: block;
}
.ProjectListHead_container__rpQ37 .ProjectListHead_search__HN3am input {
	float: left;
	padding: 10px 34px 10px 16px;
	width: 100%;
	line-height: 24px;
	font-size: 15px;
	-webkit-appearance: none;
}
.ProjectListHead_container__rpQ37 .ProjectListHead_search__HN3am .ProjectListHead_right__3_Jo1 {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
}
.ProjectListHead_container__rpQ37 .ProjectListHead_search__HN3am .ProjectListHead_find__3HsFc::after, .ProjectListHead_container__rpQ37 .ProjectListHead_search__HN3am .ProjectListHead_find__3HsFc::before {
	display: none;
}
.ProjectListHead_container__rpQ37 .ProjectListHead_search__HN3am .ProjectListHead_find__3HsFc {
	width: 44px;
	height: 44px;
	font-size: 18px;
}
button {
	background: none;
	color: inherit;
}
.icon-searchs::before, i.icon.searchs::before, i.wadizicon.wa-searchs::before {
	content: "\f002";
    font: var(--fa-font-solid);/* fontawesome사용할시 추가 */
}
[class*="icon-"]::before, i.icon::before, i.wadizicon {
	display: inline-block;
	margin-top: -.2em;
	vertical-align: middle;
	text-transform: none;
	line-height: 1;
	/* font-family: wadizicon !important; */
	font-weight: 400;
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	font-style: normal;
	font-variant: normal;
	/* speak: none; */
}
em, i {
	font-style: normal;
}
.ProjectListHead_right__3_Jo1{
    padding-left:50%;/* 아직 완성안됨 추가수정하기 */
}
.ProjectListHead_container__rpQ37 .ProjectListHead_bar__2dyHz {
	display: flex;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-sizing: border-box;
}
.ProjectListHead_container__rpQ37 .ProjectListHead_bar__2dyHz .ProjectListHead_title__2pv8I {
	display: none;
	font-size: 24px;
	font-weight: 700;
}

















@media screen and (min-width:769px){
    .RewardMainTab_container__geHTr {
        position: relative !important;
        top: auto !important;
        box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
        background-color: #fff;
    }
    .RewardMainTab_container__geHTr .RewardMainTab_onlyLarge__1q7_V {
        display: block;
    }
    .RewardMainTab_container__geHTr > li {
        display: inline-block;
        margin-right: 8px;
        margin-left: 8px;
    }
    .RewardMainTab_container__geHTr .RewardMainTab_link___1r2a {
        line-height: 48px;
        color: rgba(0,0,0,.84);
        font-size: 17px;
    }
    .RewardMainCategory_container__19OYY {
        z-index: auto;
        margin-top: 0;
    }
    .RewardProjectListApp_container__1ZYeD {
        padding: 0 16px;
    }
    .ProjectListHead_container__rpQ37 .ProjectListHead_search__HN3am {
        display: inline-block;
        margin-right: -5px;
        border-right: 0;
        width: auto;
        vertical-align: bottom;
    }
    .ProjectListHead_container__rpQ37 .ProjectListHead_search__HN3am input {
        transition: opacity .25s;
        opacity: 0;
        padding-top:6px;
        padding-bottom:6px;
    }
    .ProjectListHead_container__rpQ37 .ProjectListHead_search__HN3am .ProjectListHead_find__3HsFc {
        width: 36px;
        height: 36px;
    }
    .ProjectListHead_container__rpQ37 .ProjectListHead_bar__2dyHz {
        display: block;
        position: relative;
        margin: 0 auto;
        border-top: 0;
        padding-right: 0;
        padding-bottom: 8px;
        padding-left: 0;
        width: 100%;
        text-align: right;
    }
    .ProjectListHead_container__rpQ37 .ProjectListHead_bar__2dyHz .ProjectListHead_title__2pv8I {
        display: block;
        position: absolute;
        bottom: 12px;
        left: 0;
        line-height: 32px;
        font-size: 24px;
    }
}

@media screen and (min-width:1097px){
    .web-header {
        position: static;
    }
    html.scroll-top .MainWrapper_content__GZkTa {
        padding-top: 0;
    }
    .MainWrapper_content__GZkTa {
        padding-top: 0;
        padding-bottom: 0;
    }
    .RewardMainTab_container__geHTr {
        justify-content: center;
        padding: 0 80px;
    }
    .RewardMainTab_container__geHTr > li {
        max-width: 120px;
    }

}