body {
  background: #eeeeee;
  height: 125vh;
}

.card ul  {
  font-size: 13px;
  margin: 5px;
  padding: 10px 24px; 
  list-style: none;
}

.card {
  width: 265px;
  height: 100px;
  left: 250px;
  top: 80px;
  border: 1px solid ghostwhite;
  position: absolute;
  background-color: #ffffff;
  color: #212121;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.flex-container2 {
  width: 1350px;
  height: 200px;
  border: 1px solid ghostwhite;
  position: absolute;
  background-color: #ffffff;
  color: #212121;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  left: 550px;
  top: 150px;
  }

  .flex-container3 {
    width: 1350px;
    height: 80px;
    border: 1px solid ghostwhite;
    position: absolute;
    background-color: #ffffff;
    color: #212121;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    left: 550px;
    top: 370px;
    }

    .flex-container4 {
      width: 1350px;
      height: 80px;
      border: 1px solid ghostwhite;
      position: absolute;
      background-color: #ffffff;
      color: #212121;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
      left: 550px;
      top: 600px;
      }

      
      .flex-container5 {
        width: 1350px;
        height: 150px;
        border: 1px solid ghostwhite;
        position: absolute;
        background-color: #ffffff;
        color: #212121;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
        left: 550px;
        top: 700px;
        }

        
        .flex-container6 {
          width: 1350px;
          height: 200px;
          border: 1px solid ghostwhite;
          position: absolute;
          background-color: #ffffff;
          color: #212121;
          box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
          left: 550px;
          top: 880px;
          }
      

  .search_bar {
    position: absolute;
    top: 60px;
    left: 550px;
  }

  .inner {
    width: 1100px;
    height: 45px;
    margin: 20px auto;
    border: 1px solid ghostwhite;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  }
  
  input {
    width: 91.5%;
    height: 100%;
    border-color: #bdc1c6;
    border: 0px;
    font-size: 16px;
    outline: none;
    margin-left: 50px;
  }
  
  .searching {
    position: absolute;
    left: 10px;
    top: 30px;
  }
  
  i:hover {
    cursor: pointer;
  }

  .top_header {
    width: 1650px;
    height: 60px;
    position: fixed;
    padding-top: 32px;
    top: -40px;
    left: 210px;
    background-color: #ffffff;
    border: 1px solid ghostwhite;
    color: #313534;
    padding-left: 32px; 
    padding-right: 32px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  }
  
  .pop {
    list-style-type: none;
    padding: 0;
  }
  
  .pop li {
    list-style: none;
    display: inline-block;
    margin-left: 16px;
    font-size: 13px;
    border: 1px solid ghostwhite;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    padding: 10px;
    border-radius: 5%;
  }
  
  h4 {
    font-size: 16px;
    color: #212121;
    font-weight: 500;
  }